/* style.css */
:root {
  --primary: #5cc6ba;
  --secondary: #a0a0a0;
  --tertiary: #717F7F;
  --quaternary: #F1F5F4;
  --btn-primary: #007bff;
  --btn-success: #28a745;
  --btn-danger: #dc3545;
  --btn-warning: #d39e00;
  --btn-warning-text: #212529;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-group {
  display: flex;
  justify-content: center;
}

input[type="file"] {
  display: none;
}

label {
  background-color: #F1F5F4;
  color: var(--tertiary);
  cursor: pointer;
  border-radius: 15px;
  width: 150px;
  height: 100px;
  text-align: center;
  font-size: 1rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  transform: scale(1.05);
}

#classifyBtn {
  background-color: var(--btn-success);
  width: 200px;
}

#resetBtn {
  background-color: var(--btn-danger);
  border-radius: 25px;
}

#printerBtn {
  background-color: var(--btn-warning);
  color: var(--btn-warning-text);
  border-radius: 25px;
}

#cropBtn {
  background-color: var(--btn-primary);
  border-radius: 25px;
}

#image-container img, #cropped-image-container img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 20px auto;
}

#cropBtn, #classifyBtn, #resetBtn, #printerBtn {
  display: none;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: auto;
}

.card-header {
  background-color: #F1F5F4;
  padding: 20px;
  color: var(--tertiary);
  text-align: center;
}

.card-body {
  padding: 20px;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label .bar {
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.label .high {
  background-color: #43a047;
}

.label .medium {
  background-color: #fbc02d;
}

.label .low {
  background-color: #e53935;
}

/* style.css */
.label .text {
  flex-grow: 1;
  color: #1c3f6d;
  white-space: nowrap; /* Impede a quebra de linha dentro do texto */
  overflow: visible; /* Permite que o texto ultrapasse os limites do contêiner */
  text-overflow: clip; /* Remove as reticências */
}

.footer {
  text-align: center;
  font-size: 0.9em;
  color: #1c3f6d;
  margin-top: 20px;
  width: 100%;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 430px) {
  .container {
    width: 100vh;
    padding: 2px;
  }

  h1 {
    font-size: 1.9em;
  }

  label,
  button {
    font-size: 1em;
    padding: 8px 16px;
  }
}
